*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
}
/* body{
    background-image: url('https://yakuphantonintshi.github.io/myimages/Images/purple.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */