@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* Logo */
img[alt='logo'] {
    width: 5rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
img[alt='icon'] {
  width: 6rem;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 2px 2px 5px#7ddff1;
}



#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /* background-image: url('https://yakuphantonintshi.github.io/myimages/Images/purple.jpg'); */
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/033/097/604/small_2x/colorful-car-light-trails-long-exposure-at-night-ai-generative-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  nav li{
    padding-inline: 30px;
    color: #7ddff1;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  
  nav a.router-link-exact-active {
    color: #7ddff1;
  }
  /* .navbar{
    background-color: #fff;
  } */

  .wrapper {
    display: grid;
    /* grid-template-rows: auto minmax(100dvh, 100%) auto; */
}
#navBar{
    font-weight: bold;
    color:#7ddff1;;
}
#navBar:hover{
    text-decoration: underline;
}

/* footer{
    color: white;
} */