@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* Logo */
img[alt='logo'] {
    width: 5rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}



#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /* background-image: url('https://yakuphantonintshi.github.io/myimages/Images/purple.jpg'); */
    background-image: url('https://w0.peakpx.com/wallpaper/47/692/HD-wallpaper-purple-flower-abstract-background-purple-floral-shine-stars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  nav li{
    padding-inline: 30px;
    color: #9f00bb;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  
  nav a.router-link-exact-active {
    color: #9f00bb;
  }
  /* .navbar{
    background-color: #fff;
  } */

  .wrapper {
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}
#navBar{
    font-weight: bold;
    color:#e9aef4;;
}
#navBar:hover{
    text-decoration: underline;
}

footer{
    color: white;
    /* background-color: #fff; */
}
